<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Sorry! Page not available right now.</h1>
    <p>The site is currently being updated.</p>
    {{> footer}}
  </body>
</html>